@{
    ViewData["Title"] = "Início";
}
<br />
<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
   <p>Sistema desenvolvido para registro dos livros lidos pelo usuário</p>
   <br />
   <br />
   <div id="fotos"
       <img src="imagens/41+LUvzc6WL._SY445_SX342_.jpg" />
       <img src="imagens/51i7kH+rh9L._SY445_SX342_.jpg" />
       <img src="imagens/51jBrql3omL._SY445_SX342_.jpg" />
       <img src="imagens/51x5aXdYW-L._SY445_SX342_.jpg" />
</div>
